matplotlib-inline==0.1.6
numpy==1.26.2
pandas==2.1.4
PyMuPDF==1.23.8
PyMuPDFb==1.23.7
PyPDF2==3.0.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pywin32-ctypes==0.2.2
streamlit==1.29.0
